{:watch-dirs          ["src/cljs"]
 :css-dirs            ["resources/public/css"]
 :ring-server-options {:port 3444}
 :log-level           :debug
 :client-log-level    :warning
 }


;; Target dir
;; target-dir by default is 'target', and figwheel server also serves
;; files from 'target/public' which will be where it will compiles to.
